MyHelloClientProxy/Connected Services/MyHelloNamespace/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:www-infosupport-com:KC:Demos" elementFormDefault="qualified" targetNamespace="urn:www-infosupport-com:KC:Demos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prompt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>